body {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    background-image: url(pic/bg3.jpg); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar {
    list-style-type: none;
    padding: 10px 0; 
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
}

.navbar a:hover {
    color: darkturquoise;
}
/*about me section*/
.aboutme {
    padding: 60px; 
    padding-bottom: 205px;
    /* background-color: blue; */
    background-image: url(pic/bg4.jpg);
    text-align: center;
    margin-bottom: 10px; 
    overflow: hidden; 
}

.aboutme-content {
    padding-top: 150px;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: center; 
    animation: slideInRight 1s ease-out;
}

.aboutme img {
    height: 350px;
    width: auto; 
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(1, 1, 5, 0.322); 
    margin: 20px;
    transition: transform 0.3s ease, rotate 0.3s ease; 
}

@keyframes slideInRight {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.aboutme img:hover {
    transform: scale(1.12); 
}

.text-content {
    width: 60%; 
    text-align: left; 
}

.aboutme h1 {
    font-size: 32px; 
    margin: 10px 0; 
    color: white;
    font-family: 'Saira', sans-serif;
}
.aboutme h1 span{
    color:white;
    font-family: 'Dela Gothic One', cursive;
    font-size: 50px;
}
.aboutme h4 {
    font-size: 24px;
    color: darkturquoise; 
    margin: 5px 0;
    font-family: 'Saira', sans-serif;
    font-weight: 800;
}

.aboutme-content p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    font-family: 'Saira', sans-serif;
}



/* Education */
.education {
    padding: 30px; 
    background-color: #f0f0f0;
    text-align: center;
}

.education h2 {
    font-size: 28px; 
    margin-bottom: 10px;
    color: navy; 
}

.education-item-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.education-item {
    width: calc(50% - 20px); 
    border: 1px solid #ccc; 
    padding: 20px; 
    margin: 10px; 
    text-align: left;
    box-sizing: border-box; 
}

.education-item h3 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

.education-item p {
    font-size: 16px; 
    margin: 5px 0;
}
/*Projects*/
.projects {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: navy; 
}

.project {
    text-align: left;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project ul {
    font-size: 16px; 
    line-height: 1.5;
    list-style-type:disc; 
}

.project ul li {
    margin-bottom: 10px; 
}
/*experience*/
.experience {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.experience h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: navy; 
}

.experience-item {
    text-align: left;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px; 
}

.experience-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.experience-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    width:50%;
}

.experience-item p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.experience-item ul {
    font-size: 16px; 
    line-height: 1.5;
    list-style-type: disc;
}

.experience-item ul li {
    margin-bottom: 10px;
}

.experience-item a {
    color: #007bff;
    text-decoration: underline;
}
/*Skills*/
.skills {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.skills h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: navy; 
}

.skills-list {
    display: flex; 
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center; 
    list-style: none; 
    padding: 0;
}

.skills-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:20%;
    background-color:darkturquoise;
    color: white;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

.aboutme,
.education,
.projects,
.skills,
.experience {
    scroll-behavior: smooth;
    margin-top: 60px;
    padding-top: 30px; 
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-family: Arial, sans-serif;
    border-top: 2px solid #00bcd4;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 20px;
    display: flex; 
    align-items: center; 
    transition: color 0.3s ease;
}

.footer a i {
    margin-right: 8px; 
    font-size: 24px; 
}

.footer a:hover {
    color: #00bcd4;
}